
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票頁</title>
</head>
<body>
    <h3>請選擇候選人</h3>
    <form action = "#" method = "POST">
        <label>
            <input type="radio" id="vote_1" name="vote" value="James K.">
            James K.<br>
        </label>
        <label>
            <input type="radio" id="vote_2" name="vote" value="Mark O.">
            <label for="vote_2">Mqrk O.<br>
        </label>
        <label>
            <input type="radio" id="vote_3" name="vote" value="Terry H.">
            Terry H.<br>
        </label>
        <label>
            <input type="radio" id="vote_4" name="vote" value="Amy C.">
            Amy C.<br>
        </label>
        <label>
            <input type="radio" id="vote_5" name="vote" value="Paula R.">
            Paula R.<br>
        </label>
        <br>
        <button type="submit" value="vote" name="submit">
            送出投票
        </button>
    </form>
</body>
</html>