
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>礦工頁</title>
</head>
<body>
    <h2>區塊鏈線上投票系統</h2>
    <form action = "#" method = "POST">
        <h3>礦工身分驗證</h3>
        <!-- <p>Must start with <b style="color: rgb(241, 68, 0);">MOID</b> 
            and followed by three integers -->
        <p><b>請輸入合法ID: </b>
        <input type="text" name="minerID" required>
        <br><br>
        <button type="submit" name="submit" value="mine">挖礦</button>
        <button type="submit" name="submit" value="vote" formnovalidate>進入投票頁</button>
    </form>
</body>
</html>